/* .red{
    color:red;
    font-size: 42px;
} */

body{
    background-color: rgb(171, 209, 113) ;
}
.nav-bar{
    display: flex;
    flex-direction:row; /* used to set the main axis */
    justify-content: space-around; /* used to set arrangement of elements on main axis */
    align-items: center;
    height: 10vh;
}
.nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-bar  a{
    font-size: 23px;
    color: white;
    text-decoration: none;
}
.nav-list a{
    margin-right: 10px;
}
.nav-bar button{
    min-width: 28%;
    font-size: 23px;
    border-radius: 8px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    cursor: pointer;
}
.rest-of-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 85vh;
    /* border: 1px solid black; */
}


.left, .right{
    width: 40%;
   /* border: 1px solid black; */
    text-align: center;
}
.left{
    padding-left: 10%;
    text-align: left;
}
.left button{
    background-color: rgb(101, 101, 172);
    color: white;
    width: 20%;
    height: 30px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 5% 0;
}
.right input{
    width: 50%;
    margin-bottom: 10px;
    height: 30px;
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    border:none;
    padding: 2px 5px;
}
.right select{
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    border:none;
    padding: 2px 5px;
}
.right select, .right button{
    width: 50%;
    margin-bottom: 10px;
    height: 30px;
    padding: 3px 5px;
}
.right button{
    border-radius: 10px;
    background-color: rgb(105, 105, 182);
    color:white;
    border:none;
    cursor: pointer;
}

